*{
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

html,
body{
  height: auto;
  width: auto;

}

body{
  background-color: #111;
}

.card {
  background-color: pink;
  border: radious 40px;
  margin: 20px;
  padding: 20px;

}

.nav{
  background-color: grey;
  padding:20px;
  border-radius: 10px;
  color: blac;
  margin: 10px;
}